<div id="site-header">
  <div class="flat-top">
      <div class="container">
          <div class="row">
              <div class="flat-wrapper">
                  <div class="custom-info">
                      <span>Tienes preguntas?</span>
                      <span><i class="fa fa-phone"></i>+57 313 366 344 71</span>
                      <span><i class="fa fa-envelope"></i>info@tecnosoftit.com</span> 
                  </div>

                  <div class="social-links">
                      <a href="#">
                          <i class="fa fa-twitter"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-facebook"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-behance"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-spotify"></i>
                      </a>
                      <a href="#">
                          <i class="fa fa-rss"></i>
                      </a>
                  </div>
              </div><!-- /.flat-wrapper -->
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.flat-top -->

  <header id="header" class="header clearfix"> 
      <div class="header-wrap clearfix">
          <div class="container">
              <div class="row">
                  <div class="flat-wrapper">
                      <div id="logo" class="logo">
                          <a href="index.html">
                              <label id="styleLogo">TecnoSoft IT</label>
                              <!--<img src="../../assets/images/logo.png" alt="images">-->
                          </a>
                      </div><!-- /.logo -->
                      <div class="btn-menu">
                          <span></span>
                      </div><!-- //mobile menu button -->
                 
                      <div class="nav-wrap">                                
                          <nav id="mainnav" class="mainnav">
                              <ul class="menu"> 
                                  <li [routerLinkActive]="['home']"><a [routerLink]="['/home']">Inicio</a></li>
                                  <li [routerLinkActive]="['home']"><a [routerLink]="['/about']">Sobre Nosotros</a></li>
                                  <li [routerLinkActive]="['home']"><a [routerLink]="['/services']">Servicios</a></li>
                                  <li [routerLinkActive]="['home']"><a [routerLink]="['/portfolio']">Portafolio</a></li>                                              
                                  <li [routerLinkActive]="['home']"><a [routerLink]="['/news']">Noticias</a></li>
                                  <li [routerLinkActive]="['home']"><a [routerLink]="['/contact']">Contactenos</a></li>
                              </ul><!-- /.menu -->                                        
                          </nav><!-- /.mainnav -->  
                      </div><!-- /.nav-wrap -->
                  </div><!-- /.flat-wrapper -->
              </div><!-- /.row -->
          </div><!-- /.container -->             
      </div><!-- /.header-inner --> 
  </header><!-- /.header -->
</div><!-- /.site-header -->