<!-- Footer -->
<footer class="footer">
  <div class="footer-widgets">
      <div class="container">
          <div class="row">
              <div class="col-md-3">
                  <div class="widget widget_text style_1">
                      <div class="textwidget">
                          <h1><strong>Fusion</strong> a model Business wp theme</h1>
                      </div>
                  </div><!-- /.widget_text -->
              </div><!-- /.col-md-3 -->

              <div class="col-md-3">
                  <div class="widget widget_recent_entries">
                      <h3 class="widget-title"><span class="style_1">R</span>ecent News</h3>
                      <ul>
                          <li>
                              <a href="blog-single.html">3 Reasons Your Business Needs A Budget Now</a>
                              <span class="post-date">January 26, 2016</span>
                          </li>
                          <li>
                              <a href="#">2016 Queensland Small Business Week</a>
                              <span class="post-date">January 26, 2016</span>
                          </li>
                          <li>
                              <a href="blog-single.html">The Tax Office doesn’t always get it right</a>
                              <span class="post-date">January 26, 2016</span>
                          </li>
                      </ul>
                  </div><!-- /.widget .widget_recent_entries -->
              </div><!-- /.col-md-3 -->

              <div class="col-md-3">
                  <div class="widget widget_text information style_1">
                      <h3 class="widget-title"><span class="style_1">C</span>ontact Us</h3>
                      <div class="textwidget">
                          <p><strong>Headquarters:</strong><br>66 Nicholson Street Buffalo New York US 14214</p>
                          <p>
                              <i class="fa fa-phone ft-widget-margin-right-12"></i> 001-123-456-7890<br>
                              <i class="fa fa-envelope-o ft-widget-margin-right-10"></i> support@linethemes.com
                          </p>
                          <p>
                              <i class="fa fa-phone ft-widget-margin-right-12"></i> 001-123-456-7890<br>
                              <i class="fa fa-envelope-o ft-widget-margin-right-10"></i> manager@linethemes.com
                          </p>
                          <p>
                              <i class="fa fa-calendar ft-widget-margin-right-12"></i> Mon - Sat: 8:00 Am - 18:00 Pm<br>
                              <span class="ft-widget-margin-left-28">Sunday: Closed</span>
                          </p>
                      </div>          
                  </div><!-- /.widget .widget_text information -->
              </div><!-- /.col-md-3 -->

              <div class="col-md-3">
                  <div class="widget widget_text style_1">
                      <h3 class="widget-title"><span class="style_1">G</span>et in Touch</h3>
                      <div class="textwidget">
                          <form id="contactform" method="post" action="./contact/contact-process.php">
                              <p><input id="name" name="name" type="text" value="" placeholder="Name" required="required"></p>

                              <p><input id="email" name="email" type="email" value="" placeholder="Email" required="required"></p>

                              <p><textarea name="message" placeholder="Comment" required="required"></textarea></p>
                              <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit rounded" value="Send Mail">
                              </p>
                          </form>
                      </div><!-- /.textwidget -->          
                  </div><!-- /.widget .widget_text -->
              </div><!-- /.col-md-3 -->
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.footer-content -->

  <div class="footer-content">
      <div class="container">
          <div class="row">
              <div class="flat-wrapper">
                  <div class="ft-wrap clearfix">
                      <div class="social-links">
                          <a href="#"><i class="fa fa-twitter"></i></a>
                          <a href="#"><i class="fa fa-facebook"></i></a>
                          <a href="#"><i class="fa fa-behance"></i></a>
                          <a href="#"><i class="fa fa-spotify"></i></a>
                          <a href="#"><i class="fa fa-rss"></i></a>
                      </div>
                      <div class="copyright">
                          <div class="copyright-content">
                              Copyright © 2016 Fusion Theme by <a href="http://corpthemes.com/" target="_blank">Corpthemes</a>  
                          </div>
                      </div>
                  </div><!-- /.ft-wrap -->
              </div><!-- /.flat-wrapper -->
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.footer-content -->
</footer>

<!-- Go Top -->
<a class="go-top">
  <i class="fa fa-chevron-up"></i>
</a>  


