<!-- Site content -->
<div id="site-content">
        <div id="page-breadcrumbs">            
                <nav class="breadcrumb-trail breadcrumbs">
                    <h2 class="trail-browse">You are here:</h2>
                    <ul class="trail-items">
                        <li class="trail-item trail-begin"><a href="#">Home</a></li>
                        <li class="trail-item trail-end">Contactenos</li>
                    </ul>
                </nav>           
            </div>
  <div id="page-header">
      <div class="container">
          <div class="row">
              <div class="page-title">
                  <h2 class="title">Contactenos</h2>
              </div>
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /#page-header -->

  <div id="page-body">
      <div class="flat-row parallax parallax4 pad-top60px pad-bottom60px">
          <div class="container">
              <div class="row">
                  <div class="col-md-4">
                      <div class="iconbox style_3">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-speech"></i></div>
                              <h4 class="box-title">Let’s have a chat!</h4>
                          </div>
                          <div class="box-content">
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                              <p>
                                  Telephone: 1-888-345-6789<br>Fax: 1-888-345-6789        
                              </p>
                              <p class="box-readmore">
                                  <a href="#">support@linethemes.com</a>
                              </p>
                          </div>
                      </div><!-- /.iconbox -->
                  </div><!-- /.col-md-4 -->
                  <div class="col-md-4">
                      <div class="iconbox style_3">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-globe"></i></div>
                              <h4 class="box-title">Visit our location</h4>
                          </div>
                          <div class="box-content">
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                              <p>
                                  66 Nicholson St Buffalo New York<br>United States      
                              </p>
                              <p class="box-readmore">
                                  <a href="#">Get Directions</a>
                              </p>
                          </div>
                      </div><!-- /.iconbox -->
                  </div><!-- /.col-md-4 -->
                  <div class="col-md-4">
                      <div class="iconbox style_3">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-diamond"></i></div>
                              <h4 class="box-title">Looking for a career?</h4>
                          </div>
                          <div class="box-content">
                              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod.</p>
                              <p>
                                  Telephone: 1-888-345-6789<br>Fax: 1-888-345-6789        
                              </p>
                              <p class="box-readmore">
                                  <a href="#">support@linethemes.com</a>
                              </p>
                          </div>
                      </div><!-- /.iconbox -->
                  </div><!-- /.col-md-4 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </div><!-- /.flat-row -->

      <div class="flat-row pad-top90px pad-bottom60px">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="title-section">
                          <h3 class="title">Contact us for any further questions</h3>
                      </div><!-- /.title-section -->
                  </div><!-- /.col-md-12 -->
              </div><!-- /.row -->
              <div class="flat-divider d40px"></div>
              <div class="row">
                  <div class="col-md-8 col-md-offset-2">
                      <form  id="contactform" class="flat-contact-form" method="post" action="./contact/contact-process.php">
                          <div class="quick-appoinment">
                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" id="name" name="name" class="input-text-name" placeholder="Name" required="required">
                                  </div><!-- /.col-md-6 -->
                                  <div class="col-md-6">
                                      <input type="text" id="email" name="email" class="input-text-email" placeholder="Email" required="required">
                                  </div><!-- /.col-md-6 -->
                              </div><!-- /.row -->

                              <div class="flat-divider d30px"></div>

                              <div class="row">
                                  <div class="col-md-6">
                                      <input type="text" id="phone" name="phone" class="input-text-phone" placeholder="Phone" required="required">
                                  </div><!-- /.col-md-6 -->
                                  <div class="col-md-6">
                                      <input type="text" id="subject" name="subject" class="input-text-subject" placeholder="Subject" required="required">
                                  </div><!-- /.col-md-6 -->
                              </div><!-- /.row -->

                              <div class="flat-divider d30px"></div>

                              <div class="row">
                                  <div class="col-md-12">
                                      <textarea class="textarea-question" id="message" name="message" placeholder="Message" required="required"></textarea>
                                  </div><!-- /.col-md-12 -->
                              </div><!-- /.row -->

                              <div class="flat-divider d30px"></div>

                              <div class="row">
                                  <div class="col-md-12">
                                      <input type="submit" name="submit" value="Send Message" class="input-submit">
                                  </div><!-- /.col-md-12 -->
                              </div><!-- /.row -->
                          </div>
                      </form>
                  </div><!-- /.col-md-8 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </div><!-- /.flat-row -->

      <div class="flat-row pad-top0px pad-bottom0px">
          <div id="flat-map"></div>
      </div><!-- /.flat-row -->
  </div><!-- /.page-body -->
</div><!-- /#site-content -->