<!-- Site content -->
<div id="site-content">
        <div id="page-breadcrumbs">            
                <nav class="breadcrumb-trail breadcrumbs">
                    <h2 class="trail-browse">You are here:</h2>
                    <ul class="trail-items">
                        <li class="trail-item trail-begin"><a href="#">Home</a></li>
                        <li class="trail-item trail-end">Noticias</li>
                    </ul>
                </nav>           
            </div>
  <div id="page-header">
      <div class="container">
          <div class="row">
              <div class="page-title">
                  <h2 class="title">Bienvenidos a nuestro blog</h2>
              </div>
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /#page-header -->

  <div id="page-body">
      <div class="container">
          <div class="row">
              <div class="blog">
                  <div class="main-content">
                      <article class="post">
                          <div class="entry-wrapper">
                              <div class="entry-cover">
                                  <a href="blog-single.html">
                                      <img src="../../assets/images/blog/1.jpg" alt="images">
                                  </a>
                              </div><!-- /.entry-cover -->
                              <div class="entry-header">
                                  <span class="entry-time">January 26, 2016</span>
                                  <h2 class="entry-title"><a href="blog-single.html">3 Reasons Your Business Needs A Budget Now</a></h2>
                                  <div class="entry-meta">
                                      <span>By</span>
                                      <span class="entry-author">
                                          <a href="#" class="entry-author-link">themesflat</a>
                                      </span>
                                      <span>in</span>
                                      <span class="entry-categories"><a href="#">Business</a></span>
                                      <span class="entry-comments-link"><a href="#">0</a></span>
                                  </div><!-- /.entry-meta -->
                              </div><!-- /.entry-header -->                                        
                              <div class="entry-content">
                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s, when an unknown printer too...
                                  <div class="readmore"><a href="blog-single.html" class="more-link">Continue Read</a></div>
                              </div><!-- /.entry-content -->
                          </div><!-- /.entry-wrapper -->
                      </article><!-- /.post -->
                  </div><!-- /.main-content -->

                  <div class="sidebars">
                      <div class="sidebar">
                          <div class="widget widget_recent_entries">
                              <h3 class="widget-title"><span>R</span>ecent News</h3>
                              <ul>
                                  <li>
                                      <a href="blog-single.html">3 Reasons Your Business Needs A Budget Now</a>
                                      <span class="post-date">January 26, 2016</span>
                                  </li>
                              </ul>
                          </div><!-- /.widget .widget_recent_entries -->
                          <div class="widget widget_text">
                              <div class="textwidget">
                                  <h4>Fusion a model Business wp theme</h4>
                                  <p>Lorem Ipsum has been the industry’s standard dummy text ever since the 1500s.</p>
                                  <a href="#" class="button white">Purchase Now</a>
                              </div>
                          </div><!-- /.widget .widget_text -->
                      </div><!-- /.sidebar -->
                  </div><!-- /.sidebars -->
              </div><!-- /.blog -->
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /.page-body -->
</div><!-- /#site-content -->