<!-- Site content -->
<div id="site-content">
        <div id="page-breadcrumbs">            
                <nav class="breadcrumb-trail breadcrumbs">
                    <h2 class="trail-browse">Usted esta aqui:</h2>
                    <ul class="trail-items">
                        <li class="trail-item trail-begin"><a [routerLink]="['/home']">Inicio</a></li>
                        <li class="trail-item trail-end">Servicios</li>
                    </ul>
                </nav>           
            </div>
  <div id="page-header">
      <div class="container">
          <div class="row">
              <div class="page-title">
                  <h2 class="title">Nuestros Servicios</h2>
              </div>
          </div><!-- /.row -->
      </div><!-- /.container -->
  </div><!-- /#page-header -->

  <div id="page-body">
      <div class="flat-row pad-bottom60px pad-top0px">
          <div class="container">
              <div class="row">
                  <div class="col-md-3">
                      <div class="imagebox">
                          <div class="box-wrapper">
                              <div class="box-image">
                                  <img src="../../assets/images/services/1.JPG" alt="images">
                              </div>
                              <div class="box-header">
                                  <h3 class="box-title">
                                      <a href="#">Desarrollo a la medida</a>    
                                  </h3>
                              </div>
                              <div class="box-content">
                                  <div class="box-desc">The professional management of a business doesn’t live without accurate information and timely.</div>
                                  <div class="box-button">
                                      <a href="#">Choose your plan</a>
                                  </div>
                              </div>
                          </div><!-- /.box-wrapper -->
                      </div><!-- /.imagebox   -->
                  </div><!-- /.col-md-3 -->

                  <div class="col-md-3">
                      <div class="imagebox">
                          <div class="box-wrapper">
                              <div class="box-image">
                                  <img src="../../assets/images/services/2.jpg" alt="images">
                              </div>
                              <div class="box-header">
                                  <h3 class="box-title">
                                      <a href="#">Diseño progresivo</a>    
                                  </h3>
                              </div>
                              <div class="box-content">
                                  <div class="box-desc">For those looking to invest in the growth of your business or create a new business.</div>
                                  <div class="box-button">
                                      <a href="#">Choose your plan</a>
                                  </div>
                              </div>
                          </div><!-- /.box-wrapper -->
                      </div><!-- /.imagebox   -->
                  </div><!-- /.col-md-3 -->

                  <div class="col-md-3">
                      <div class="imagebox">
                          <div class="box-wrapper">
                              <div class="box-image">
                                  <img src="../../assets/images/services/5.jpg" alt="images">
                              </div>
                              <div class="box-header">
                                  <h3 class="box-title">
                                      <a href="#">Restructuracion de software</a>    
                                  </h3>
                              </div>
                              <div class="box-content">
                                  <div class="box-desc">Adapt your business to the new market conditions. Redefine your strategy, restructure your debt.</div>
                                  <div class="box-button">
                                      <a href="#">Choose your plan</a>
                                  </div>
                              </div>
                          </div><!-- /.box-wrapper -->
                      </div><!-- /.imagebox   -->
                  </div><!-- /.col-md-3 -->

                  <div class="col-md-3">
                      <div class="imagebox">
                          <div class="box-wrapper">
                              <div class="box-image">
                                  <img src="../../assets/images/services/4.jpg" alt="images">
                              </div>
                              <div class="box-header">
                                  <h3 class="box-title">
                                      <a href="#">Consultoria tecnologica</a>    
                                  </h3>
                              </div>
                              <div class="box-content">
                                  <div class="box-desc">Evaluate your business idea. Without any associated cost. For new entrepreneurs.</div>
                                  <div class="box-button">
                                      <a href="#">Choose your plan</a>
                                  </div>
                              </div>
                          </div><!-- /.box-wrapper -->
                      </div><!-- /.imagebox   -->
                  </div><!-- /.col-md-3 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </div><!-- /.flat-row -->

      <div class="flat-row pad-top80px pad-bottom80px bg-f7f7f7">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="title-section">
                          <h2 class="title">Why Choose <strong>Fusion?</strong></h2>
                          <div class="desc color-333333">
                              Our projects win awards, we are published in the world known magazines and websites.<br>We are invited to participate in exhibitions and competitions.
                          </div>
                      </div><!-- /.title-section -->
                  </div><!-- /.col-md-12 -->
              </div><!-- /.row -->

              <div class="flat-divider d40px"></div>

              <div class="row">
                  <div class="col-md-3">
                      <div class="iconbox style_3 ">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-diamond"></i></div>
                              <h5 class="box-title">Experienced</h5>
                          </div>
                          <div class="box-content">
                              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                          </div>
                      </div>
                  </div><!-- /.col-md-3 -->
                  <div class="col-md-3">
                      <div class="iconbox style_3 ">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-chart"></i></div>
                              <h5 class="box-title">Superior Quality</h5>
                          </div>
                          <div class="box-content">
                              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                          </div>
                      </div>
                  </div><!-- /.col-md-3 -->
                  <div class="col-md-3">
                      <div class="iconbox style_3 ">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-trophy"></i></div>
                              <h5 class="box-title">Honest &amp; Dependable</h5>
                          </div>
                          <div class="box-content">
                              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                          </div>
                      </div>
                  </div><!-- /.col-md-3 -->
                  <div class="col-md-3">
                      <div class="iconbox style_3 ">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-present"></i></div>
                              <h5 class="box-title">Competitive Rates</h5>
                          </div>
                          <div class="box-content">
                              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                          </div>
                      </div>
                  </div><!-- /.col-md-3 -->
              </div><!-- /.row -->

              <div class="flat-divider d30px"></div>

              <div class="row">
                  <div class="col-md-3">
                      <div class="iconbox style_3 ">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-envelope-open"></i></div>
                              <h5 class="box-title">Free Consultation</h5>
                          </div>
                          <div class="box-content">
                              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                          </div>
                      </div>
                  </div><!-- /.col-md-3 -->
                  <div class="col-md-3">
                      <div class="iconbox style_3 ">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-globe"></i></div>
                              <h5 class="box-title">Professional</h5>
                          </div>
                          <div class="box-content">
                              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                          </div>
                      </div>
                  </div><!-- /.col-md-3 -->
                  <div class="col-md-3">
                      <div class="iconbox style_3 ">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-badge"></i></div>
                              <h5 class="box-title">Win Awards</h5>
                          </div>
                          <div class="box-content">
                              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                          </div>
                      </div>
                  </div><!-- /.col-md-3 -->
                  <div class="col-md-3">
                      <div class="iconbox style_3 ">
                          <div class="box-header">
                              <div class="box-icon"><i class="fa icons icon-equalizer"></i></div>
                              <h5 class="box-title">Vibrant</h5>
                          </div>
                          <div class="box-content">
                              Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor.
                          </div>
                      </div>
                  </div><!-- /.col-md-3 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </div><!-- /.flat-row -->

      <div class="flat-row pad-top80px pad-bottom80px parallax parallax4">
          <div class="container">
              <div class="row">
                  <div class="col-md-12">
                      <div class="title-section">
                          <h2 class="title color-ffffff">Want to work with us?</h2>
                          <div class="desc color-eeeeee">
                              Don’t let your business evolve according to the pace of others.<br>Contact us to discover how we can help with the management of your company.
                          </div>
                      </div><!-- /.title-section -->

                      <div class="flat-divider d40px"></div>

                      <p class="text-center">
                          <a href="contact.html" class="button rounded">Contact Us</a>
                      </p>
                  </div><!-- /.col-md-12 -->
              </div><!-- /.row -->
          </div><!-- /.container -->
      </div><!-- /.flat-row -->
  </div><!-- /.page-body -->
</div><!-- /#site-content -->