<!-- Slider -->
<div class="tp-banner-container">
  <div class="tp-banner" >
      <ul>
          <li data-transition="slidedown" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
              <img src="../../assets/images/slides/slides1.jpg" alt="slider-image" />
              <div class="tp-caption sfl title-slide text-center" data-x="center" data-y="203" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">                            
                  Servicio de diseño y<br>maquetaciòn de paginas web
              </div>  
                  
              <div class="tp-caption sfl flat-button-slider bg-button-slider-333333" data-x="398" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Leer mas</a></div>

              <div class="tp-caption sfr flat-button-slider" data-x="588" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Contactenos</a></div>
              <div class="tp-caption sfb" data-x="center" data-y="bottom" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
                  <a href="#"><img src="../../assets/images/slides/button1.png" alt="slider-image"></a>
              </div>
          </li>
          
          <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
              <img src="../../assets/images/slides/slides2.jpg" alt="slider-image" />
              <div class="tp-caption sfl title-slide text-center" data-x="center" data-y="203" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">                            
                  Prepare the Draft of Your<br> &nbsp;Company's Application.
              </div>  
                  
              <div class="tp-caption sfl flat-button-slider bg-button-slider-333333" data-x="398" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Read More</a></div>

              <div class="tp-caption sfr flat-button-slider" data-x="588" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Contact Us</a></div>
              <div class="tp-caption sfb" data-x="center" data-y="bottom" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
                  <a href="#"><img src="../../assets/images/slides/button1.png" alt="slider-image"></a>
              </div>
          </li>

          <li data-transition="random-static" data-slotamount="7" data-masterspeed="1000" data-saveperformance="on">
              <img src="../../assets/images/slides/slides3.jpg" alt="slider-image" />
              <div class="tp-caption sfl title-slide text-center" data-x="center" data-y="203" data-speed="1000" data-start="1000" data-easing="Power3.easeInOut">                            
                  Build the business plan <br>your company
              </div>  
                  
              <div class="tp-caption sfl flat-button-slider bg-button-slider-333333" data-x="398" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Read More</a></div>

              <div class="tp-caption sfr flat-button-slider" data-x="588" data-y="473" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut"><a href="#">Contact Us</a></div>

              <div class="tp-caption sfb" data-x="center" data-y="bottom" data-speed="1000" data-start="2000" data-easing="Power3.easeInOut">
                  <a href="#"><img src="../../assets/images/slides/button1.png" alt="slider-image"></a>
              </div>
          </li>

          
      </ul>
  </div>
</div>
<div class="flat-row pad-top60px pad-bottom60px">
  <div class="container">
      <div class="row">
          <div class="col-md-3">
              <div class="iconbox style_2">
                  <div class="box-header">
                      <div class="box-icon">
                          <i class="fa icons icon-calculator"></i>
                      </div>
                      <h5 class="box-title">Mantenimiento</h5>
                  </div>
                  <div class="box-content">
                      <span class="font-size-14px">The professional management of a business doesn’t live without accurate information and timely.</span>                                                                        
                  </div>
              </div>
          </div><!-- /.col-md-3 -->
          <div class="col-md-3">
              <div class="iconbox style_2">
                  <div class="box-header">
                      <div class="box-icon">
                          <i class="fa icons icon-layers"></i>
                      </div>
                      <h5 class="box-title">Investment Projects</h5>
                  </div>
                  <div class="box-content">
                      <span class="font-size-14px">For those looking to invest in the<br>growth of your business or create a new business.</span>                                                                        
                  </div>
              </div>
          </div><!-- /.col-md-3 -->
          <div class="col-md-3">
              <div class="iconbox style_2">
                  <div class="box-header">
                      <div class="box-icon">
                          <i class="fa icons icon-globe"></i>
                      </div>
                      <h5 class="box-title">New Entrepreneurs</h5>
                  </div>
                  <div class="box-content">
                      <span class="font-size-14px">Evaluate your business idea.<br> Without any associated cost. For new entrepreneurs.</span>                                                                        
                  </div>
              </div>
          </div><!-- /.col-md-3 -->
          <div class="col-md-3">
              <div class="iconbox style_2">
                  <div class="box-header">
                      <div class="box-icon">
                          <i class="fa icons icon-chart"></i>
                      </div>
                      <h5 class="box-title">Restructuring Plans</h5>
                  </div>
                  <div class="box-content">
                      <span class="font-size-14px">Adapt your business to the new market conditions. Redefine your strategy, restructure your debt.</span>                                                                        
                  </div>
              </div>
          </div><!-- /.col-md-3 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.flat-row -->
<!-- Progress bar -->
<div class="flat-row bg-f7f7f7 pad-top0px pad-bottom0px">
  <div class="image-single style_1 clearfix">
      <div class="item-two-column flat-single-image-autoheight-style2">
      </div><!-- /.item-two-column -->
      <div class="item-two-column">
          <div class="section-progress">
              <div class="title-section style_1">
                  <h3 class="title">Since 2001 we have guided the management of SMEs</h3>  
                  <div class="desc">
                      We are at present in companies that are responsible for a total of €85 million and that work with more than 600 employees.<br>We recognize the importance of internationalization for company growth. Approximately 25% of our clients have an international presence.
                  </div>                      
              </div>

              <div class="flat-divider d40px"></div>

              <div class="flat-progress-bar">
                  <div class="flat-progress style_1">
                      <span class="name">Deposit</span><span class="units">90%</span>
                      <div class="progress-bar" data-percent="90" data-waypoint-active="yes">
                          <div class="progress-animate color-0074CC"></div>
                      </div>
                  </div><!-- /.flat-progress -->
                  <div class="flat-progress style_1">
                      <span class="name">Capitalization</span><span class="units">80%</span>
                      <div class="progress-bar" data-percent="80" data-waypoint-active="yes">
                          <div class="progress-animate color-0074CC"></div>
                      </div>
                  </div><!-- /.flat-progress -->
                  <div class="flat-progress style_1">
                      <span class="name">Incom investment</span><span class="units">85%</span>
                      <div class="progress-bar" data-percent="85" data-waypoint-active="yes">
                          <div class="progress-animate color-0074CC"></div>
                      </div>
                  </div><!-- /.flat-progress -->
              </div><!-- /.flat-progress -->
          </div><!-- /.section-accordion -->
      </div><!-- /.item-two-column -->
  </div><!-- /.image-single -->
</div><!-- /.flat-row -->
<!-- Group button -->
<div class="flat-row pad-top80px pad-bottom80px">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="title-section">
                  <h3 class="title">MANAGEMENT IN HARD TIMES.</h3>
                  <div class="desc">
                      Don’t let your business evolve according to the pace of others. Contact us to discover<br>how we can help with the management of your company.
                  </div>
              </div>
          </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="row">
          <div class="col-md-12">
              <div class="group-button text-center">
                  <a class="button rounded dark" href="#">Read More</a>
                  <a class="button rounded" href="contact.html">Contact Us</a>
              </div>
          </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.flat-row -->
<!-- About text -->
<div class="flat-row bg-about pad-top0px pad-bottom0px clearfix">
  <div class="about-text-2 item-three-column bg-scheme">
      <h4 class="title">MISSION STATEMENT</h4>
      <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo orci, id pharetra odio varius ac. Integer accumsan posuere erat ac porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Maecenas iaculis leo sit amet tempor maximus.</div>
      <div class="flat-divider d40px"></div>
      <div>
          <a class="button outline">Read More</a>
      </div>
  </div><!-- /.item-three-column -->
  <div class="about-text-2 item-three-column">
      <h4 class="title">VISION STATEMENT</h4>
      <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo orci, id pharetra odio varius ac. Integer accumsan posuere erat ac porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Maecenas iaculis leo sit amet tempor maximus.</div>
      <div class="flat-divider d40px"></div>
      <div>
          <a class="button outline">Read More</a>
      </div>
  </div><!-- /.item-three-column -->
  <div class="about-text-2 item-three-column bg-222222">
      <h4 class="title">VALUES STATEMENT</h4>
      <div class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo orci, id pharetra odio varius ac. Integer accumsan posuere erat ac porttitor. Vestibulum porttitor est mi, sed pharetra nisi dapibus sed. Maecenas iaculis leo sit amet tempor maximus.</div>
      <div class="flat-divider d40px"></div>
      <div>
          <a class="button outline">Read More</a>
      </div>
  </div><!-- /.item-three-column -->
</div><!-- /.flat-row -->
<!-- Recent Portfolio -->
<div class="flat-row bg-f7f7f7 pad-top80px pad-bottom0px">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="title-section">
                  <h3 class="title">Recent <strong>Portfolio</strong></h3>
                  <div class="desc">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus leo orci,<br>id pharetra odio varius ac.
                  </div>
              </div>
          </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
      <div class="flat-divider d32px"></div>
      <div class="row">
          <div class="flat-wrapper">
              <div class="flat-portfolio portfolio-grid">
                  <div class="portfolio-carousel" data-item="3" data-nav="false" data-dots="true" data-auto="true"> 
                      <div class="portfolio-item">
                          <div class="portfolio-wrap">
                              <div class="portfolio-thumbnail">
                                  <a href="portfolio-single-type-list.html"><img src="../../assets/images/portfolio/1-1.jpg" alt="images"></a>
                                  <div class="flat-figcaption">
                                      <div class="project-buttons">
                                          <a href="portfolio-single-type-list.html"><span>Quick View</span></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="portfolio-info">
                                  <div class="portfolio-info-wrap">                                                
                                      <h6 class="portfolio-title">
                                          <a href="portfolio-single-type-list.html">Identity Card Holder</a>
                                      </h6>
                                      <ul class="portfolio-categories">
                                          <li><a href="#">Management</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div><!-- /.portfolio-item -->

                      <div class="portfolio-item">
                          <div class="portfolio-wrap">
                              <div class="portfolio-thumbnail">
                                  <a href="portfolio-single-type-list.html"><img src="../../assets/images/portfolio/1-2.jpg" alt="images"></a>
                                  <div class="flat-figcaption">
                                      <div class="project-buttons">
                                          <a href="portfolio-single-type-list.html"><span>Quick View</span></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="portfolio-info">
                                  <div class="portfolio-info-wrap">                                                
                                      <h6 class="portfolio-title">
                                          <a href="portfolio-single-type-list.html">Business Cards Mockup</a>
                                      </h6>
                                      <ul class="portfolio-categories">
                                          <li><a href="#">Business</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div><!-- /.portfolio-item -->

                      <div class="portfolio-item">
                          <div class="portfolio-wrap">
                              <div class="portfolio-thumbnail">
                                  <a href="portfolio-single-type-list.html"><img src="../../assets/images/portfolio/1-3.jpg" alt="images"></a>
                                  <div class="flat-figcaption">
                                      <div class="project-buttons">
                                          <a href="portfolio-single-type-list.html"><span>Quick View</span></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="portfolio-info">
                                  <div class="portfolio-info-wrap">                                                
                                      <h6 class="portfolio-title">
                                          <a href="portfolio-single-type-list.html">Black Wine Bottle</a>
                                      </h6>
                                      <ul class="portfolio-categories">
                                          <li><a href="#">Economy</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div><!-- /.portfolio-item -->

                      <div class="portfolio-item">
                          <div class="portfolio-wrap">
                              <div class="portfolio-thumbnail">
                                  <a href="portfolio-single-type-list.html"><img src="../../assets/images/portfolio/1-4.jpg" alt="images"></a>
                                  <div class="flat-figcaption">
                                      <div class="project-buttons">
                                          <a href="portfolio-single-type-list.html"><span>Quick View</span></a>
                                      </div>
                                  </div>
                              </div>
                              <div class="portfolio-info">
                                  <div class="portfolio-info-wrap">                                                
                                      <h6 class="portfolio-title">
                                          <a href="portfolio-single-type-list.html">Coffee &amp; Tea Exchange</a>
                                      </h6>
                                      <ul class="portfolio-categories">
                                          <li><a href="#">Business</a></li>
                                      </ul>
                                  </div>
                              </div>
                          </div>
                      </div><!-- /.portfolio-item -->
                  </div><!-- /.portfolio -->
              </div><!-- /.flat-portfolio -->
          </div><!-- /.flat-wrapper -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.flat-row -->
<!-- Video -->
<div class="flat-row bg-f7f7f7 pad-top60px">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="flat-video-fancybox text-center">
                  <a class="fancybox" data-type="iframe" href="https://www.youtube.com/embed/p_E9S2nRrwM?autoplay=1"> 
                      <img src="../../assets/images/img-single/bg-video2.jpg" alt="images">
                  </a>
              </div>
          </div><!-- /.col-md-6 -->
          <div class="col-md-6">
              <div class="section-iconlist2">
                  <div class="title-section style_1">
                      <h3 class="title">Why Choose <strong>Fusion?</strong></h3>  
                      <div class="desc">
                          With over 20 years of experience, we recognize the importance of internationalization for company growth. Approximately 25% of our clients<br>have an international presence.
                      </div>                      
                  </div>
                  <div class="flat-divider d30px"></div>
                  <div class="flat-iconlist">
                      <div class="row">
                          <div class="col-md-6">
                              <ul class="iconlist">
                                  <li><i class="fa fa-cog"></i> Highly professional staff.</li>
                                  <li><i class="fa fa-cog"></i> On Time and on Budget.</li>
                                  <li><i class="fa fa-cog"></i> Vision for the business.</li>
                              </ul>
                          </div><!-- /.col-md-6 -->
                          <div class="col-md-6">
                              <ul class="iconlist">
                                  <li><i class="fa fa-cog"></i> Real value to a community.</li>
                                  <li><i class="fa fa-cog"></i> Keeping you out of trouble.</li>
                                  <li><i class="fa fa-cog"></i>  With you for the long haul.</li>
                              </ul>
                          </div><!-- /.col-md-6 --> 
                      </div><!-- /.row -->
                  </div><!-- /.flat-list -->
                  <div class="flat-divider d30px"></div>
                  <div class="group-btn">
                      <a class="button lg dark" href="#">How can we help you?</a>
                      <a class="link color-333333" href="#">Download Brochure</a>
                  </div>
              </div><!-- /.section-iconlist2 -->
          </div><!-- /.col-md-6 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.flat-row -->
<!-- Group button -->
<div class="flat-row bg-222222">
  <div class="container">
      <div class="row">
          <div class="col-md-8">
              <div class="title-section style_1">
                  <h3 class="title color-ffffff">Management in hard times.</h3>
                  <div class="desc">
                      Don’t let your business evolve according to the pace of others. Contact us to discover how we can help with the management of your company.
                  </div>
              </div>
          </div><!-- /.col-md-8 -->
          <div class="col-md-4">
              <div class="group-button text-center">
                  <a class="button white lg rounded" href="#">Read More</a>
                  <a class="button lg rounded" href="contact.html">Contact Us</a>
              </div>
          </div><!-- /.col-md-4 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.flat-row -->
<!-- Testimonial -->
<div class="flat-row bg-f7f7f7 pad-top0px pad-bottom0px">
  <div class="container">
      <div class="row">
          <div class="col-md-6">
              <div class="section-testimonial">
                  <div class="title-section style_2">
                      <h2 class="title">What our<br>clients say about us</h2>
                  </div>
                  <div class="flat-divider d20px"></div>
                  <div class="flat-testimonial">
                      <div class="flexslider">
                          <ul class="slides">
                              <li>
                                  <div class="testimonial bg-f7f7f7">
                                      <div class="testimonial-content">
                                          <blockquote>John Doe and his crew are true craftsmen that produced high-quality work and were easy to work with too. The end result is magnificent and we get comments all of the time, from friends and strangers alike, how beautiful our home is.</blockquote>
                                      </div>
                                      <div class="testimonial-meta">
                                          <div class="testimonial-author">
                                              <strong class="author-name">Phat Vo Ngoc</strong>
                                              <div class="author-info"><a href="#" class="company">ThemesFlat</a></div>
                                          </div>
                                      </div>
                                  </div><!-- /.testimonial -->
                              </li>
                              <li>
                                  <div class="testimonial bg-f7f7f7">
                                      <div class="testimonial">
                                          <div class="testimonial-content">
                                              <blockquote>We had a vision, a budget and a very short timeline. John Doe and his crew came in and said yes to all three. It’s rare you are able to have an awesome space you love built for you, without hidden costs, and delivered the exact day promised.</blockquote>
                                          </div>
                                          <div class="testimonial-meta">
                                              <div class="testimonial-author">
                                                  <strong class="author-name">Phat Vo Ngoc</strong>
                                                  <div class="author-info"><a href="#" class="company">ThemesFlat</a></div>
                                              </div>
                                          </div>
                                      </div><!-- /.testimonial -->
                                  </div><!-- /.testimonial -->
                              </li> 
                              <li>
                                  <div class="testimonial bg-f7f7f7">
                                      <div class="testimonial">
                                          <div class="testimonial-content">
                                              <blockquote>The reason we like dealing with Fusion is because they respond quickly and if there is no chance of obtaining planning they will tell you on day one. They will not waste your money if there is no hope so that to me is fair play.</blockquote>
                                          </div>
                                          <div class="testimonial-meta">
                                              <div class="testimonial-author">
                                                  <strong class="author-name">Phat Vo Ngoc</strong>
                                                  <div class="author-info"><a href="#" class="company">ThemesFlat</a></div>
                                              </div>
                                          </div>
                                      </div><!-- /.testimonial -->
                                  </div><!-- /.testimonial -->
                              </li>                                            
                          </ul>
                      </div><!-- /.flexslider -->                                        
                  </div><!-- /.flat-testimonial -->
              </div><!-- /.section-testimonial -->
          </div><!-- /.col-md-6 -->
          <div class="col-md-6">
              <div class="image-single">
                  <img src="../../assets/images/img-single/img-clients.jpg" alt="images">
              </div>
          </div><!-- /.col-md-6 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.flat-row -->
<!-- Clients -->
<div class="flat-row pad-top20px pad-bottom20px">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="flat-clients" data-item="6" data-nav="false" data-dots="false" data-auto="true">
                  <div class="client-featured">
                      <img src="../../assets/images/client/1.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/2.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/3.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/4.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/5.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/6.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/1.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/2.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/3.png" alt="images">
                  </div>
                  <div class="client-featured">
                      <img src="../../assets/images/client/4.png" alt="images">
                  </div>
              </div><!-- /.flat-clients -->
          </div><!-- /.col-md-12 -->
      </div><!-- /.row -->
  </div><!-- /.container -->
</div><!-- /.flat-row -->
